@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for the terminal/text feel */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  color: white;
}